.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.todo-header h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 3rem;
  letter-spacing: 0.35em;
  color: #fff;
}

.theme-switcher {
  box-sizing: content-box;
  padding: 8px;
  width: 26px;
  height: 26px;
}

.theme-switcher:hover {
  cursor: pointer;
}
